<div class="canvas-drawer" *ngIf="showReporter" (click)="destroyDrawer()">
  <div class="work-area">
    <div class="canvas-sandbox" [ngClass]="{'active':!isScreenshotLoading}">
      <div
        id="izCanvas"
        (click)="$event.stopPropagation()"
        [ngClass]="cursorClass"
      >
        <div *ngIf="isScreenshotLoading" class="iz-screenshot-loading">
          <div data-loading class="bx--loading">
            <svg class="bx--loading__svg" viewBox="-75 -75 150 150">
              <title>Loading</title>
              <circle class="bx--loading__stroke" cx="0" cy="0" r="37.5"/>
            </svg>
          </div>
        </div>
      </div>
      <div #canvasContainer (mouseup)="$event.stopPropagation()"></div>
    </div> 
    <div class="action-panel" (click)="$event.stopPropagation()">
      <button class="iz-tool pen-tool" [ngClass]="{'active': tool == 'pen'}" (click)="penTool()"></button>
      <button class="iz-tool stepper-tool" [ngClass]="{'active': tool == 'stepper'}" (click)="stepperTool()"></button>
      <button class="iz-tool text-tool" [ngClass]="{'active': tool == 'text'}" (click)="textTool()"></button>
      <button class="iz-tool marker-tool" [ngClass]="{'active': tool == 'marker'}" (click)="markerTool()"></button>
      <button class="iz-button send-button m-r-30"  (click)="sendIssueReport()">Send report</button>
      <button class="iz-button cancel-button"  (click)="destroyDrawer()">Cancel</button>
    </div>
  </div>
</div>
