<div class="iz-help-container">
  <round-button *ngIf="showButtons"
    (click)="wizardsClicked()" 
    className="'help-btn'"
    text="Help"><img [src]="descSrc"/>
  </round-button>
  <round-button *ngIf="showButtons"
    (click)="reportClicked()" 
    text="Report an issue"
    className="'report-btn'"><img [src]="reportSrc"/>
  </round-button>
  <round-button
    (click)="toggleShowButtons()">
    <span class="font-20" *ngIf="!showButtons">?</span>
    <img [src]="closeSrc" *ngIf="showButtons"/>
  </round-button>
</div>
<iz-canvas-drawer #izCanvasDrawer></iz-canvas-drawer>