.btn-container {
  position: relative;
  cursor: pointer;
  .floating-text {
    position: absolute;
    left: -135px;
    top: 7px;
    padding: 5px 10px;
    width: 120px;
    background: rgba(1, 1, 1, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 14px;
  }
  .round-button {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    padding: 8px;
    font-size: 12px;
    margin-bottom: 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    
    &:active, &:focus {
      outline: 0;
    }
  }
}
